@model List<Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var employee in Model)
    {
        <div style = "display:inline-flex;">
            <div style="padding:10px;font-size:2rem;">@employee.Id</div>
            <div style="padding:10px;font-size:2rem;">@employee.Designation</div>
            <div style="padding:10px;font-size:2rem;">@employee.FirstName</div>
            <div style="padding:10px;font-size:2rem;">@employee.MiddleName</div>
            <div style="padding:10px;font-size:2rem;">@employee.LastName</div>
            <div style="padding:10px;font-size:2rem;">@employee.Salary</div>
        </div> 
    }
</div>
